/*Fontes*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Ícones*/
@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons@latest/Font%20Awesome/light.min.css");
/* interface geral */
/*:root {
  --accent1-light: hsl(163, 80%, 60%);
  --accent1-dark: hsl(163, 45%, 42%);
  --accent1-light-opacity1: hsl(163, 80%, 60%, 0.4);
  --accent2-light: hsl(163, 80%, 60%);
  --accent2-dark: hsl(163, 45%, 42%);
}*/
.playedIndicator {
  background: hsl(163, 80%, 60%);
}
.countIndicator {
    background: hsl(163, 80%, 60%);
}
/* Página de login */
#loginPage {
  background-color: hsl(0, 4%, 15%);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
  background: none;
  background-color: hsl(0, 4%, 15%);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background: none;
  background-color: hsl(0, 4%, 15%);
}
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}
#loginPage h1 {
  display: none;
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 50px;
}
#loginPage .raised.cancel.block.btnManual.emby-button {
  display: none;
}
/* Plano de fundo */
.backgroundContainer,
.dialog,
html {
  background-color: hsl(0, 4%, 15%);
}
/* Cabeçalho e menus */
.headerLeft {
  color: hsl(163, 80%, 60%);
}
.headerRight {
  color: hsl(163, 80%, 60%);
}
.mainDrawer-scrollContainer {
  color: hsl(163, 80%, 60%);
}